
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    background-color: rgb(206, 251, 218);
}
/* NavBar */
.navbar{
    height: 60px;
    background-color: #011c21;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* box 1 - Logo Box */
.nav-logo {
    background-image: url("amazon.png");
    background-size:contain; /* Adjust based on your preference */
    background-repeat: no-repeat;
    width: 113px; /* Adjust the width as needed */
    height: 50px;
    position: relative;
    top: 15px;
}


.nav-logo:hover{
    border: 2px solid rgb(255, 255, 255);
}

/* box2 - Address Box*/
.add-first{
    font-size: 0.8rem;
    color: #cccccc;
    margin-left: 12px;
}
.add-second{
    font-size: 1rem;
    color: #FFFFFF ;
    display: flex;
    align-items: center;
}

.add:hover{
    border: 2px solid rgb(255, 255, 255);

}
/* box 3 - Search Box*/
.nav-search{
    display: flex;
    background-color: #011c21;
    height: 40px;
    width: 620px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border-radius: 7px;
}
.select-search{
    height: 40px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    text-align: center;
    border: none;
    background-color: #cccccc;
}
.search-input{
    width: 600px;
    font-size: 1rem;
    border: none;
}
.s-button{
    width: 45px;
    background-color: #fedb68;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border: none;
    font-size: 1.2rem;
    color: #011c21;
}
.nav-search:hover{
    border: 2px solid rgb(255, 255, 255);
}
/* Box 4 - Language Box*/
.language:hover{
    border: 2px solid rgb(255, 255, 255);
}
/* Box 5 - Signin Box*/
.nav-greeting{
    font-size: 0.7rem;
}
.acc-lists{
    font-size: 1rem;
}

.sign-in:hover{
    border: 2px solid rgb(255, 255, 255);
}
/* Box 6 - Orders Box */
.returns{
    font-size: 0.7rem;
}
.orders{
    font-size: 1rem;
}
.order:hover{
    border: 2px solid rgb(255, 255, 255);
}
/* Box 7 - Cart Box */
.cart:hover{
    border: 2px solid rgb(255, 255, 255);
}
.mini-nav{
    background-color: #012930;
    color: white;
    display: flex;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
    padding-bottom: 9px;
    font-size: 14px;
    height: 16px;
    
}
/* Mini Nav Box 1  */
.all{
   font-style: bold; 
}
#hamburger{
    margin-left: 5px;
    margin-right: 5px;
}
.all:hover{
    border: 2px solid rgb(255, 255, 255);
}

/* Mini Nav Box 2 */
.deals:hover{
    border: 2px solid white;
}
/* Mini Nav Box 3 */
.registry:hover{
    border: 2px solid white;
}
/* Mini Nav Box 4 */
.service:hover{
    border: 2px solid white;
}
/* Mini Nav Box 5 */
.gifts:hover{
    border: 2px solid white;
}
/* Mini Nav Box 6 */
.sell:hover{
    border: 2px solid white;
}
/* Main body */
.backdrop{
    background-image: url("bac.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
card{
    background-color: lime;
}
.cards-row1{
    display: flex;
    z-index: 2;
    display: flex;
    align-content: center;
    justify-content: center;
}
.card1{
    height: 350px;
    width: 350px;
    background-color: whitesmoke;
    background-image: url("gaming.jpg");
background-repeat: no-repeat;
background-size: contain;

    margin: 10px;
}
.card2{
    height: 350px;
    width: 350px;
    background-color: whitesmoke;
    background-image: url("toys.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    margin: 10px;
}
.card3{
    height: 350px;
    width: 350px;
    background-color: whitesmoke;
    background-image: url("pc.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    margin: 10px;
}
.card4{
    height: 350px;
    width: 350px;
background-color: whitesmoke;
background-image: url("refresh.jpg");
background-repeat: no-repeat;
background-size: contain;

    margin: 10px;
}
.cards-row2{
    display: flex;
      align-content: center;
    justify-content: center;
}
.card5{
    height: 350px;
    width: 350px;
background-color: whitesmoke;
    margin: 10px;
    background-image: url("top.jpg");
background-repeat: no-repeat;
background-size: contain;
}
.card6{
    height: 350px;
    width: 350px;
    background-color: whitesmoke;
    background-image: url("fash.jpg");
background-repeat: no-repeat;
background-size: contain;

    margin: 10px;
}
.card7{
    height: 350px;
    width: 350px;
    background-color: whitesmoke;
    background-image: url("trends.jpg");
background-repeat: no-repeat;
background-size: contain;

    margin: 10px;
}
.card8{
    height: 350px;
    width: 350px;
    background-color: whitesmoke;
    background-image: url("new.jpg");
background-repeat: no-repeat;
background-size: contain;

    margin: 10px;
}

/* Footer */
footer{
    position: relative;
    bottom: 0;
    color: #DDDDDD;
    background-color: #232f3E;
    display: flex;
    justify-content: space-between;
    width: auto;
    
}
ul{
    list-style-type: none;
}
